* {
    margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-size: 20px;
}

ul {
    padding: 1rem 0rem;
}

li {
    list-style-type: none;
    padding: 1rem;
    margin: 0.2rem;
    border: 1px;
    background-color: #F6F6F6;
    border: solid 1px transparent;
    overflow: hidden;  
    /* margin: -5px; */

}

li:hover {
    border: 1px solid #333333;
    overflow: hidden;  
    /* margin: -5px; */

}

li:hover > .md-48 {
    visibility: visible;
}

.md-48 {
    float: right;
    visibility: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
    grid-column-gap: 32px;
  }

#wrapper {
    grid-column: 2;
  }

h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem ;
}

form {
    width: 100%;
}

.checked {
    text-decoration: line-through;
}